* {
  margin: 0;
  padding: 0;
}
.home {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay,
.overlay > img {
  width: 100%;
}
.overlay {
  position: absolute;
  z-index: 1;
  top: -12%;
  left: 0;
}
.box {
  display: flex;
  position: relative;
  z-index: 2;
  width: 70%;
  height: 60vh;
  background-color: white;
  border-radius: 10px;
  padding: 48px 32px;
  box-shadow: 0 4px 6px -1px black, 0 2px 4px -2px black;
}

/* unavailable page */

.allContentUnavailable {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.allContentUnavailable .overlay {
  top: 11%;
  left: 6%;
}
.sadFace {
  width: 100%;
}
.textAndBtn {
  text-align: center;
  z-index: 2;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.textUnavailable {
  text-align: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

/* end of un
available page */

.skeleton-image {
  flex: 30%;
  background-color: #ddd;
  height: 100%;
  padding-bottom: 20px;
}

.skeleton-content {
  flex: 70%;
  padding-left: 20px;
  display: grid;
  grid-template-rows: 30% 100%;
  gap: 20px;
}
hr {
  margin: 20px 0;
}
.skeleton-top {
  width: 100%;

  background-color: #ddd;
}

.skeleton-bottom {
  width: 100%;
  height: 70%;
  background-color: #ddd;
}

.skeleton-desc {
  width: 100%;
  height: 100px;
  background-color: #ddd;
}
.allContent {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 65%;
  gap: 16px;
  height: 100%;
}
.image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 35%;
}

.image img {
  width: 80%;
}

.content {
  flex: 65%;
  font-family: "Inter", sans-serif;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  padding-bottom: 17px;
}

hr {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.rate {
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #3f3f3f;
}
.rateTitle {
  text-align: left;
}
.rateStar {
  text-align: right;
}

.filled {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid;
  background-color: #002772;
  margin-right: 2px;
}
.filled:last-child {
  margin-right: 0;
}

.unfilled {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #002772;
  border-radius: 50%;
  margin-right: 2px;
}
.unfilled:last-child {
  margin-right: 0;
}
.desc {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #1e1e1e;
}
.price {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
}
.btn {
  margin-top: 16px;
  width: 100%;
  display: flex;
  gap: 12px;
}
.buy {
  width: 35%;
  height: 36px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  color: white;
}

.next {
  width: 35%;
  height: 36px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  background: white;
}
